body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 30, 68);   
}

header {
    height: 150px;
    padding-left: 12px;
    padding-top: 4px;
    align-items: left;
    justify-content: space-around;
    background: rgb(7, 4, 36);
    color: rgb(224, 224, 224);
}

a:link, a:visited {
    background-color: #00146e;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgb(0, 30, 68);
    color: rgb(250, 250, 250);   
}

footer {
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 0.5;
    align-items: center;
    background-color: rgb(7, 4, 36);
    color: rgb(224, 224, 224);
}

div {
    transform-origin: top left;
    display: grid;
    align-items: start;
    top: 40px;
    width: 100%;
}

div p {
    margin-top: 10px;
}

img { 
    margin-top: -8px;
    filter: invert(1);
}

.container {
    display: flex;
    justify-content: space-evenly; 
    gap: 1vw; 
    margin-top: 16px;
    width: 100%;
    align-self: center;
    min-width: 97vw;
    max-width: 99vw;
}

.box-container {
    background-color: rgb(7, 4, 36); 
    border-radius: 8px; 
    padding: 10px; 
    text-align: center; 
    flex: 1;
    box-sizing: border-box;
    min-width: 23vw;
    max-width: 25vw;
}

.box-container-main {
    background-color: rgb(7, 4, 36); 
    border-radius: 8px; 
    margin: 3vw;
    max-height: 70vh;
    padding: 10px; 
    text-align: center; 
    flex: 1;
    box-sizing: border-box;
    align-self: center;
}

body {
    background-color: rgb(0, 30, 68);   
}

